---
import "../styles/accueil.css";

export interface Props {
  title?: string;
  name?: string;
  description?: string;
  cvLink?: string;
  imageSrc?: string;
  
}

const { 
  title = "Salut👋, je suis",
  name = "Kouadio Karnou Vianney",
  description = "Développeur Web & Mobile | Je crée des applications modernes et interactives.",
  cvLink = "/CVKOUADIO.pdf",
  imageSrc = "/image1.jpg"

} = Astro.props;
---


<section class="accueil" id="accueil">
  <div class="container">
    <div class="accueil-content">
      <div class="accueil-text">
        <h1>{title} <span>{name}</span></h1>
        <p>{description}</p>

        <div class="buttons">
          <a href={cvLink} download class="btn btn-primary">Télécharger mon CV</a>
        </div>
      </div>

      <div class="accueil-image">
        <img src={imageSrc} alt={`Photo de ${name}`} />
      </div>
    </div>
  </div>
</section>


